*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("./image001.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form{
    position: fixed;
    top: 15%;
    left: 35%;
    width: 400px;
    height: 500px;
    text-align: center;
    background-color: #fff; 
    opacity: 0.7;
    border-radius: 20px;
}

.form h1{
    margin-top: 40px;
}

.form p{
    margin-top: -10px;
}

form label{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
}

form input{
    width: 200px;
    height: 30px;
    text-align: center;
    background-color: #d4d4d4;
    border-radius: 20px;
}

form .submit{
    width: 250px;
    margin-top: 40px;
    background-color: #228ed6;
    color: #fff;
    transition: 0.5s;
}

form .submit:hover{
    background-color: #d4d4d4;
    color: #228ed6;
    border: solid 1px;
    border-color: #228ed6;
}

/*------Responsible------*/
@media only screen and (min-width: 333px){
    body{
        backgroun-image: url("./image002.jpg");
        background-size: auto;
        background-repeat: no-repeat;
        
    }
    .form{
        top: 150px;
        left: 30px;
        width: 300px;
        height: 450px;   
    }
    .form h1{
        size: 90px;
    }
}
